.animal-be-result {
    border-radius: 50%; 
    width: 15px; 
    height: 15px; 
    margin-left: 5px;
    display: inline-block;
}
.animal-detail {
    width: auto;
    padding-left: 10px;
}

.animal-detail td {
    padding-right: 5px;
}

.animal-picture-container {
    float: left;
}

.view-animal-picture {
    width: 400px;
    height: 400px;
    border: 3px solid #BE9969;
}

.animal-picture {
    width: 175px !important;
    height: 175px !important;
    border: 3px solid #BE9969;
}

.photo-btn {
    margin-right:4px;
}

#animals {
    width: 700px;
}
.adoptable-animal {
    width: 175px;
    margin-right:20px;
    margin-top: 10px;
    float: left;
}
.adoptable-animal p {
    font-family: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    font-size: 12px;
}
.animal-name a:link {
    font-size:16px;
    color: blue;
    text-decoration: none;
}

.btn-primary {
    margin-right: 10px !important;
}

.animal-picture:hover {
    position: relative;
    bottom: 2px;
    box-shadow: 2px 2px 3px #888888;
    -moz-box-shadow: 2px 2px 3px #888888;
    -webkit-box-shadow: 2px 2px 3px #888888;
}

