#photo-links {
    text-align: center;
}

.animal-be-result {
    border-radius: 50%; 
    width: 15px; 
    height: 15px; 
    margin-left: 5px;
    display: inline-block;
}
.animal-detail {
    width: auto;
    padding-left: 10px;
}

.animal-detail td {
    padding-right: 15px;
}

.animal-picture-container {
    float: left;
}

.view-animal-picture {
    width: 400px;
    height: 400px;
    border: 3px solid #BE9969;
}

.animal-picture {
    width: 175px !important;
    height: 175px !important;
    border: 3px solid #BE9969;
    background-color: #BE9969;
}

.photo-btn {
    margin-right:4px;
    outline: none !important;
    border-radius: 50% !important;
}

#animals {
    width: 700px;
}
.adoptable-animal {
    height: 290px;
    width: 175px;
    margin-right:20px;
    margin-top: 10px;
    float: left;
}
.adoptable-animal p {
    font-family: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    font-size: 12px;
}
.animal-name a:link {
    font-size:16px;
    color: blue;
    text-decoration: none;
}

.btn-primary {
    margin-right: 10px !important;
}

/*.animal-picture:hover {
    position: relative;
    bottom: 2px;
    box-shadow: 2px 2px 3px #888888;
    -moz-box-shadow: 2px 2px 3px #888888;
    -webkit-box-shadow: 2px 2px 3px #888888;
}*/

.animal-picture {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  //box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.animal-picture:hover, .animal-picture:focus, .animal-picture:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.loading {
    position:absolute;
    bottom: 19%;
    left: 16%;
    display:none;
    margin: 10% auto;
	border-bottom: 6px solid #fff;
	border-left: 6px solid #fff;
	border-right: 6px solid #868686;
	border-top: 0px solid #c30;
	border-radius: 100%;
	height: 125px;
	width: 125px;
	-webkit-animation: spin .6s infinite linear;
	-moz-animation: spin .6s infinite linear;
	-ms-animation: spin .6s infinite linear;
	-o-animation: spin .6s infinite linear;
	animation: spin .6s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
   	-moz-transform: rotate(359deg);
   	-o-transform: rotate(359deg);
   	-ms-transform: rotate(359deg);
   	transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}
