.animal-detail {
    width: auto;
    padding-left: 10px;
}

.animal-detail td {
    padding-right: 5px;
}

.animal-picture {
    float: left;
    width: 175px;
    height: 160px;
}

#animals {
    width: 700px;
}
.adoptable-animal {
    width: 150px;
    margin-right:20px;
    margin-top: 10px;
    float: left;
}
.adoptable-animal p {
    font-family: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    font-size: 12px;
}
.animal-name a:link {
    font-size:16px;
    color: blue;
    text-decoration: none;
}

